body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

h1 {
  margin: 20px;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  width: 60%;
  border-radius: 20px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #1db954;
  color: white;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #181818;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #282828;
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.player img {
  width: 50px;
}

.hidden {
  display: none;
}

.mini-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.mini-player img {
  width: 50px;
  height: 50px;
}

.mini-player button {
  background: #1db954;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
